<div class="card">

    <div class="image-holder">
    <img class="img-fluid d-block mx-auto" [src]="establishment.main_image_url" alt="">
    </div>
    <div class="card-body px-1">
        <h5 class="card-title"> {{establishment.name}}</h5>
        <p class="card-text">{{establishment.description}}</p>
    </div>
    <div class="card-footer">
        <button (click)="viewDetails(establishment)" class="btn btn-small btn-primary">Find Out More!
        </button>
    </div>
</div>