<header class="jumbotron my-4">
    <h1 class="display-3">A Warm Welcome!</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ipsam, eligendi, in quo sunt
        possimus non incidunt odit vero aliquid similique quaerat nam nobis illo aspernatur vitae fugiat numquam
        repellat.
    </p>
    <section class="search-form">
        <form>
            <div class="input-group input-group-lg">
                <label for="keywords" class="sr-only">Keywords></label>
                <input type="text" id="keywords" name="keywords" placeholder="First Name, Last Name, or Email Address"
                       class="form-control input-lg" [(ngModel)]="keywords" (ngModelChange)="search($event)">
                <span class="input-group-btn">
                  <input type="submit" value="Find Establishments"
                         class="btn btn-primary btn-lg"
                         (click)="search()">
                </span>
            </div>
        </form>
    </section>
</header>