<div class="row">
    <div *ngFor="let relation of related" class="col-md-3 col-sm-6 mb-4">

        <div class="card">
            <img class="card-img-top img-rounded" src="http://pipsum.com/750x500" alt="">
            <div class="card-body">
                <h4 class="card-title"> {{relation.name}}</h4>
            </div>
            <div class="card-footer">
                <button (click)="viewDetails(relation)" class="btn btn-small btn-primary">Find Out More!
                </button>
            </div>
        </div>
    </div>
</div>