@import "bootstrap-variables";
@import "~bootstrap/scss/bootstrap";

@mixin image-holder($image) {
    background:url($image);
    
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: 100%;
}




body {
    padding-top: 54px;
}

.btn {
    cursor: pointer;
}

.flexible-container {
     display: flex;
  flex-direction: column;
}

.flexible-child {
    flex-grow: 1;
}

// FORM 

.form-inline>.form-check {
    margin-top: 2px;
}

.check-box-collection {
    padding: 8px 0 0 0;
}




// MEDIA QUERIES

@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}

