@import "../packs/barhound-variables";

/*ESTABLISHMENTS INDEX*/

#establishment-index {
    // .image-holder {
    //   @include image-holder('placeholder-750-500.png');
    //   min-height: 164px;
    // };

    .card {
        height: 100%;
        min-height: 436px;

        /* Fix for desc and image */
        //img {
        //    background-color: rgb(243, 243, 243);
        //    background-repeat: no-repeat;
        //    background-position: center;
        //}
        .image-holder {
            min-height: 172px;
            background-color: $image-back-color;
            align-items: center;
            display: flex;
        }
    }

    .progress {
        min-height: 130px;
        padding: 30px;
        margin-bottom: 30px;
        .btn {
            margin: 0 auto;
        }
    }

     .sebm-google-map-container {
        height: 270px;
        width: 435px;
    }

}