<!-- Page Content -->
<section id="establishment-index">

    <!-- Filters Header -->
    <establishments-filters
            bind-establishments="establishments"
            on-establishmentsChanged="updateEstablishments($event)"></establishments-filters>


    <div class="progress container" *ngIf="!establishments">


        <button class="btn btn-lg"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
            Loading...
        </button>

    </div>
    
    <div class="row">
         <div class="col-lg-7">  
        <!-- Page Features -->
        <div class="row text-center">
            <div *ngFor="let establishment of establishments" class="col-lg-4 col-md-6 mb-4 my-style">
                <establishment-card
                        bind-establishment="establishment"
                ></establishment-card>
            </div>

        </div>
        </div> 
        <div class="col-lg-5" id="map-holder"> 
        <establishments-map

        [establishments]="establishments"> 
        </establishments-map>   
        </div> 
    </div>
</section>
