
<div *ngIf="establishments">
 <agm-map
 [latitude]="latitude"
 [longitude]="longitude"
 [zoom]="zoom"
 >
      
     <agm-marker
     *ngFor="let establishment of establishments"
     (markerClick)="clickedMarker()"
     [latitude]="establishment.location.x"
     [longitude]="establishment.location.y">
    </agm-marker>



</agm-map>
</div>

<!-- <h1>{{establishments | json}}</h1> -->