@import "../packs/barhound-variables";

/*ESTABLISHMENTS DETAILS*/

#establishment-details {

	.image-holder {
		display: flex;
		align-items: center;
		background-color: $image-back-color;
		img {
            max-height: 299px; // display: block;
            // margin: 0 auto;
        }
    } // .image-holder {
    //     @include image-holder('750x500.jpg');
    // };
    .details-description {
    	height: 139px;
    }
    .description-col {}
    .sebm-google-map-container {
    	height: 160px;
        width: 250px;
    }
}