<section id="establishment-details" *ngIf="establishment">


    <!-- Portfolio Item Heading -->
    <h1 class="my-4">{{establishment.name}}
        <small>Secondary Text</small>
        <a class="btn btn-success" href="/establishments/{{establishment.id}}/edit" target="_self">
            Edit
        </a>
    </h1>

    <!-- Portfolio Item Row -->
    <div class="row">

        <div class="col-md-5 px-0 image-holder">
            <!--CARD?s-->
            <!--<img class="img-fluid" src="http://pipsum.com/750x500" alt="">-->
            <!--<div class="image-holder text-center img-fluid">-->
             <img class="img-fluid d-block mx-auto" [src]="establishment.main_image_url" alt="">
           <!-- <img class="img-fluid img-thumbnail" src="http://pipsum.com/750x500" alt=""> -->
            <!--</div>-->
        </div>

        <div class="col-md-7">

            <div class="row">

                <div class="col-md-5 description-col">
                    <div class="details-description">
                        <h3 class="">Bar Description</h3>
                        <p>{{establishment.description}}</p>
                    </div>
                    <div class="details-map">
                        <agm-map
                                [latitude]="establishment.location.x"
                                [longitude]="establishment.location.y"
                                [zoom]="14"
                        >

                            <agm-marker

                                    (markerClick)="clickedMarker()"
                                    [latitude]="establishment.location.x"
                                    [longitude]="establishment.location.y">

                            </agm-marker>

                        </agm-map>
                    </div>

                </div>
                <div class="col-md-7">
                    <h3 class="">Project Details</h3>
                    <ul>
                        <li>Lorem Ipsum</li>
                        <li><label for="added">Added</label> {{establishment.created_at | date: 'dd MMM yyyy'}}</li>
                        <li>Dolor Sit Amet</li>
                        <li>Consectetur</li>
                        <li>Adipiscing Elit</li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
    <!-- /.row -->

    <!-- Related Projects Row -->
    <h3 class="my-4">Related Projects</h3>


    <related-establishments bind-related="establishment.related">

    </related-establishments>

</section>