<header>
  <h1 class="h2">Establishments Search</h1>
</header>

<section class="search-form">
  <%= form_for :establishments, method: :get do |f| %>
      <div class="input-group input-group-lg">
        <%= label_tag :keywords, nil, class: "sr-only" %>
        <%= text_field_tag :keywords, nil,
                           placeholder: "Name, User Name, or Description",
                           class: "form-control input-lg" %>
        <span class="input-group-btn">
<%= submit_tag "Find Establishments",
               class: "btn btn-primary btn-lg" %>
</span>
      </div>
  <% end %>
</section>

<section class="search-results">
  <header>
    <h1 class="h3">Results</h1>
  </header>
  <%= render partial: "pager",
             locals: {count: @establishments.length, keywords: @keywords, page: @page} %>
  <ol class="list-group">
    <% @establishments.each do |establishment| %>
        <li class="list-group-item clearfix">
          <h3 class="pull-right">
            <small class="text-uppercase">Added</small> <%= l establishment.created_at.to_date %>
          </h3>
          <h2 class="h3">
            <%= establishment.name %>
            <small><%= establishment.username %></small>
          </h2>
          <h5><%= establishment.description %></h5>
        </li>
    <% end %>
  </ol>
</section>