
<%= form_with(model: establishment, local: true) do |form| %>
<% if establishment.errors.any? %>
    <div id="error_explanation">
        <h2><%= pluralize(establishment.errors.count, "error") %> prohibited this establishment from being saved:</h2>
        <ul>
            <% establishment.errors.full_messages.each do |message| %>
            <li>
                <%= message %>  
            </li>
            <% end %>
        </ul>
    </div>
<% end %>

<div class="form-group form-inline">
    <%= form.label :name, class: "col-2 col-form-label" %>
    <%= form.text_field :name, id: :establishment_name, class: "form-control" %>
</div>
<div class="form-group form-inline">
    <%= form.label :phone_number, class: "col-2 col-form-label" %>
    <%= form.text_field :phone_number, id: :establishment_phone_number, class: "form-control" %>
</div>


<div class="form-group form-inline">
    <label for="location_x" class="col-2 col-form-label">Location X</label>
    <input id="location_x" class="form-control" name="location_x" type="number" step="any" value=<%= establishment.location.x %> />
</div>
<div class="form-group form-inline">
    <label for="location_y" class="col-2 col-form-label">Location Y</label>
    <input id="location_y" class="form-control"name="location_y" type="number" step="any" value=<%= establishment.location.y %> />
</div>


<%= fields_for :address do |a| %>
    <div class="form-group form-inline">
        <label for="address1" class="col-2 col-form-label">Address 1</label>
        <%= a.text_field :address1, value: establishment.address['address1'], class: "form-control" %>
    </div>
    <div class="form-group form-inline">
        <label for="area" class="col-2 col-form-label">Area</label>
        <%= a.text_field :area, value: establishment.address['area'], class: "form-control" %>
    </div>
    <div class="form-group form-inline">
        <label for="city" class="col-2 col-form-label">City</label>
        <%= a.text_field :city, value: establishment.address['city'], class: "form-control" %>
    </div>
    <div class="form-group form-inline">
        <label for="code" class="col-2 col-form-label">Code</label>
        <%= a.text_field :code, value: establishment.address['code'], class: "form-control" %>
    </div>
    <div class="form-group form-inline">
        <label for="state" class="col-2 col-form-label">State</label>
        <%= a.text_field :state, value: establishment.address['state'], class: "form-control" %>
    </div>
    <div class="form-group form-inline">
        <label for="country" class="col-2 col-form-label">Country</label>
        <%= a.text_field :country, value: establishment.address['country'], class: "form-control" %>
    </div>

<% end %>


<div class="form-group">
    <div class="d-flex">
        <%= form.label :images, class: "col-2 col-form-label text-center" %>
        <div class="col-10 p-0">
           <div class="row">  
            <%= form.fields_for :images do |image_fields| %>
            <div class="images-wrapper col-3">
                <%= image_tag(image_fields.object.file.thumb.url, class: "img-thumbnail") if image_fields.object.name %>
                <%= image_fields.text_field :name, class: "form-control mt-2" %>
                <label class="custom-file mt-2 mb-2">
                    <%= image_fields.file_field :file, class: "custom-file-input" %> 
                    <span class="custom-file-control"></span>
                </label>
                <%= image_fields.label :primary %>
                <%= image_fields.check_box :primary, id: :image_primary %>
                Delete: <%= image_fields.check_box :_destroy %>
            </div>
            <% end %>
        </div> 
    </div>
    
</div>
</div>


<div class="form-group form-inline">
    <%= form.label :username, class: "col-2 col-form-label" %>
    <%= form.text_field :username, id: :establishment_username, class: "form-control" %>
</div>
<div class="form-group form-inline">
    <%= form.label :email, class: "col-2 col-form-label" %>
    <%= form.text_field :email, id: :establishment_email, class: "form-control" %>
</div>
<div class="form-group form-inline">
    <%= form.label :facebook, class: "col-2 col-form-label" %>
    <%= form.text_field :facebook, id: :establishment_facebook, class: "form-control" %>
</div>
<div class="form-group form-inline">
    <%= form.label :twitter, class: "col-2 col-form-label" %>
    <%= form.text_field :twitter, id: :establishment_twitter, class: "form-control" %>
</div>
<div class="form-group form-inline">
    <%= form.label :yelp, class: "col-2 col-form-label" %>
    <%= form.text_field :yelp, id: :establishment_yelp, class: "form-control" %>
</div>
<div class="form-group form-inline">
    <%= form.label :website, class: "col-2 col-form-label" %>
    <%= form.text_field :website, id: :establishment_website, class: "form-control" %>
</div>
<div class="form-group form-inline">
    <%= form.label :tags, class: "col-2 col-form-label" %>
    <%= form.text_field :tags, id: :establishment_tags, class: "form-control" %>
</div>
<div class="form-group form-inline">
    <%= form.label :music_types, class: "col-2 col-form-label" %>
    <%= form.text_field :music_types, id: :establishment_music_types, class: "form-control" %>
</div>
<div class="form-group form-inline">
    <%= form.label :best_nights, class: "col-2 col-form-label" %>
    <%= form.text_field :best_nights, id: :establishment_best_nights, class: "form-control" %>
</div>
<div class="form-group form-inline">
    <%= form.label :description, class: "col-2 col-form-label" %>
    <%= form.text_area :description, id: :establishment_description, class: "form-control" %>
</div>
<div class="form-group form-inline">
    <%= form.label :menu_link, class: "col-2 col-form-label" %>
    <%= form.text_field :menu_link, id: :establishment_menu_link, class: "form-control" %>
</div>
<div class="form-group form-inline">
    <%= form.label :suits_dancing, class: "col-2 col-form-label" %>
    <%= form.number_field :suits_dancing, id: :establishment_suits_dancing, class: "form-control" %>
</div>
<div class="form-group form-inline">
    <%= form.label :suits_kids, class: "col-2 col-form-label" %>
    <%= form.number_field :suits_kids, id: :establishment_suits_kids, class: "form-control" %>
</div>
<div class="form-group form-inline">
    <%= form.label :suits_groups, class: "col-2 col-form-label" %>
    <%= form.number_field :suits_groups, id: :establishment_suits_groups, class: "form-control" %>
    <small id="emailHelp" class="p-2 text-muted">Number between 1-5.</small>
</div>
<div class="form-group form-inline">
    <%= form.label :drinks_link, class: "col-2 col-form-label" %>
    <%= form.text_field :drinks_link, id: :establishment_drinks_link, class: "form-control" %>
</div>
<div class="form-group form-inline">
    <%= form.label :cred_card, class: "col-2 col-form-label" %>
    <%= form.check_box :cred_card, id: :establishment_cred_card, class: "form-check" %>
</div>
<div class="form-group form-inline">
    <%= form.label :sells_cigs, class: "col-2 col-form-label" %>
    <%= form.check_box :sells_cigs, id: :establishment_sells_cigs, class: "form-check"  %>
</div>
<div class="form-group form-inline">
    <%= form.label :free_wifi, class: "col-2 col-form-label" %>
    <%= form.check_box :free_wifi, id: :establishment_free_wifi, class: "form-check"  %>
</div>
<div class="form-group form-inline">
    <%= form.label :accessible, class: "col-2 col-form-label" %>
    <%= form.check_box :accessible, id: :establishment_accessible, class: "form-check"  %>
</div>
<div class="form-group form-inline">
    <%= form.label :high_chair, class: "col-2 col-form-label" %>
    <%= form.check_box :high_chair, id: :establishment_high_chair, class: "form-check"  %>
</div>
<div class="form-group form-inline">
    <%= form.label :coat_check, class: "col-2 col-form-label" %>
    <%= form.check_box :coat_check, id: :establishment_coat_check, class: "form-check"  %>
</div>
<div class="form-group form-inline">
    <%= form.label :dog_friendly, class: "col-2 col-form-label" %>
    <%= form.check_box :dog_friendly, id: :establishment_dog_friendly, class: "form-check"  %>
</div>
<div class="form-group form-inline">
    <%= form.label :price, class: "col-2 col-form-label" %>
    
    <%= form.number_field :price, id: :establishment_price, class: "form-control" %>
</div>
<div class="form-group form-inline">
    <%= form.label :notes, class: "col-2 col-form-label" %>
    <%= form.text_field :notes, id: :establishment_notes, class: "form-control" %>
</div>
<div class="form-group form-inline">
    <%= form.label :founded, class: "col-2 col-form-label" %>
    <%= form.date_select :founded, {}, { id: :establishment_founded, class: "form-control mr-1" } %>
</div>
<div class="form-group form-inline">
    <%= form.label :smoking_area_type_id, class: "col-2 col-form-label" %>
    <%= form.collection_select(:smoking_area_type_id, @smoking_area_options, :id, :name, { include_blank: 'None'}, {id: :establishment_smoking_area_type_id, class: 'form-control'} ) %>

</div>
<div class="form-group form-inline">
    <%= form.label :beer_garden_type_id, class: "col-2 col-form-label" %>
    <%= form.collection_select :beer_garden_type_id, @beer_garden__options, :id, :name, { include_blank: 'None'}, {id: :establishment_beer_garden_type_id, class: 'form-control'} %>
    
</div>
<div class="form-group form-inline">
    <%= form.label :cocktail_type_id, class: "col-2 col-form-label" %>
    <%= form.collection_select :cocktail_type_id, @cocktail_options, :id, :name, { include_blank: 'None'}, {id: :establishment_cocktail_type_id, class: 'form-control'} %>

</div>
<div class="form-group form-inline">
    <%= form.label :tv_type_id, class: "col-2 col-form-label" %>
    <%= form.collection_select :tv_type_id, @tv_options, :id, :name, { include_blank: 'None'}, {id: :establishment_tv_type_id, class: 'form-control'} %>

</div>
<div class="form-group form-inline">
    <%= form.label :wine_type_id, class: "col-2 col-form-label" %>
    <%= form.collection_select :wine_type_id, @wine_options, :id, :name, { include_blank: 'None'}, {id: :establishment_wine_type_id, class: 'form-control'} %>

</div>
<div class="form-group form-inline">
    <%= form.label :age_type_id, class: "col-2 col-form-label" %>
    <%= form.collection_select :age_type_id, @age_options, :id, :name, { include_blank: 'None'}, {id: :establishment_age_type_id, class: 'form-control'} %>
    
</div>
<div class="form-group">
    <div class="d-flex">
        <label class="col-2 col-form-label text-center">Ambience Types</label>
        <div class="col-10 check-box-collection">
            <%= form.collection_check_boxes :ambience_type_ids, @ambience_options, :id, :name do |f| %>
            <div class="form-check">
                <div class="form-inline">
                    <%= f.label(class: "form-check-label") { f.check_box(class: "form-check-input") + f.text }  %>
                </div>
            </div>  
            <% end %>
        </div>
    </div>
</div>
<div class="form-group">
 <div class="d-flex">
    <label class="col-2 col-form-label text-center">Award Types</label>
    <div class="col-10 check-box-collection">
        <%= form.collection_check_boxes :award_type_ids, @award_options , :id, :name do |f| %>
        <div class="form-check">
            <div class="form-inline">
                <%= f.label(class: "form-check-label") { f.check_box(class: "form-check-input") + f.text }  %>
            </div>
        </div>  
        <% end %>
    </div>
</div>
</div>
<div class="form-group">
 <div class="d-flex">
    <label class="col-2 col-form-label text-center">Bottle Types</label>
    <div class="col-10 check-box-collection">
        <%= form.collection_check_boxes :bottle_type_ids, @bottle_options, :id, :name do |f| %>
        <div class="form-check">
            <div class="form-inline">
                <%= f.label(class: "form-check-label") { f.check_box(class: "form-check-input") + f.text }  %>
            </div>
        </div>  
        <% end %>
    </div>
</div>
</div>
<div class="form-group">
 <div class="d-flex">
    <label class="col-2 col-form-label text-center">Draft Types</label>
    <div class="col-10 check-box-collection">
        <%= form.collection_check_boxes :draft_type_ids, @draft_options, :id, :name do |f| %>
        <div class="form-check">
            <div class="form-inline">
                <%= f.label(class: "form-check-label") { f.check_box(class: "form-check-input") + f.text }  %>
            </div>
        </div>  
        <% end %>
    </div>
</div>
</div>
<div class="form-group">
 <div class="d-flex">
    <label class="col-2 col-form-label text-center">Game Types</label>
    <div class="col-10 check-box-collection">
        <%= form.collection_check_boxes :game_type_ids, @game_options, :id, :name do |f| %>
        <div class="form-check">
            <div class="form-inline">
                <%= f.label(class: "form-check-label") { f.check_box(class: "form-check-input") + f.text }  %>
            </div>
        </div>  
        <% end %>
    </div>
</div>
</div>
<div class="form-group">
 <div class="d-flex">
    <label class="col-2 col-form-label text-center">Sport Types</label>
    <div class="col-10 check-box-collection">
        <%= form.collection_check_boxes :sport_type_ids, @sport_options, :id, :name do |f| %>
        <div class="form-check">
            <div class="form-inline">
                <%= f.label(class: "form-check-label") { f.check_box(class: "form-check-input") + f.text }  %>
            </div>
        </div>  
        <% end %>
    </div>
</div>
</div>
<div class="form-group form-inline">
    <%= form.label :attire_type_id, class: "col-2 col-form-label" %>
    <%= form.collection_select :attire_type_id, @attire_options, :id, :name, { include_blank: 'None'}, {id: :establishment_attire_type_id, class: 'form-control'} %>
    
</div>
<div class="form-group form-inline">
    <%= form.label :outdoor_seating_type_id, class: "col-2 col-form-label" %>
    <%= form.collection_select :outdoor_seating_type_id, @outdoor_seating_options, :id, :name, { include_blank: 'None'}, {id: :establishment_outdoor_seating_type_id, class: 'form-control'} %>

</div>
<div class="form-group form-inline">
    <%= form.label :noise_level_type_id, class: "col-2 col-form-label" %>
    <%= form.collection_select :noise_level_type_id, @noise_level_options, :id, :name, { include_blank: 'None'}, {id: :establishment_noise_level_type_id, class: 'form-control'} %>

</div>
<div class="form-group form-inline">
    <%= form.label :parking_type_id, class: "col-2 col-form-label" %>
    <%= form.collection_select :parking_type_id, @parking_options, :id, :name, { include_blank: 'None'}, {id: :establishment_parking_type_id, class: 'form-control custom-select'} %>

</div>



<%= fields_for :hours do |h| %>
    <div class="form-group form-inline">
        <%= form.label :hours_mon, class: "col-2 col-form-label" %> 
        <%= h.fields_for :mon do |mon| %>
        <%= mon.text_field :open, value: establishment.hours[:mon][:open], class: 'form-control' %>
        <small class="p-2 text-muted">until</small>
        <%= mon.text_field :close, value: establishment.hours[:mon][:close], class: 'form-control' %>
        <% end %>
    </div>
    <div class="form-group form-inline">
        <%= form.label :hours_tue, class: "col-2 col-form-label" %> 
        <%= h.fields_for :tue do |tue| %>
        <%= tue.text_field :open, value: establishment.hours[:tue][:open], class: 'form-control' %>
        <small class="p-2 text-muted">until</small>
        <%= tue.text_field :close, value: establishment.hours[:tue][:close], class: 'form-control' %>
        <% end %>
    </div>
    <div class="form-group form-inline">
        <%= form.label :hours_wed, class: "col-2 col-form-label" %>  
        <%= h.fields_for :wed do |wed| %>
        <%= wed.text_field :open, value: establishment.hours[:wed][:open], class: 'form-control' %>
        <small class="p-2 text-muted">until</small>
        <%= wed.text_field :close, value: establishment.hours[:wed][:close], class: 'form-control' %>
        <% end %>
    </div>
    <div class="form-group form-inline">
        <%= form.label :hours_thu, class: "col-2 col-form-label" %> 
        <%= h.fields_for :thu do |thu| %>
        <%= thu.text_field :open, value: establishment.hours[:thu][:open], class: 'form-control' %>
        <small class="p-2 text-muted">until</small>
        <%= thu.text_field :close, value: establishment.hours[:thu][:close], class: 'form-control' %>
        <% end %>
    </div>
    <div class="form-group form-inline">
        <%= form.label :hours_fri, class: "col-2 col-form-label" %> 
        <%= h.fields_for :fri do |fri| %>
        <%= fri.text_field :open, value: establishment.hours[:fri][:open], class: 'form-control'   %>
        <small class="p-2 text-muted">until</small>
        <%= fri.text_field :close, value: establishment.hours[:fri][:close], class: 'form-control'   %>
        <% end %>
    </div>
    <div class="form-group form-inline">
        <%= form.label :hours_sat, class: "col-2 col-form-label" %> 
        <%= h.fields_for :sat do |sat| %>
        <%= sat.text_field :open, value: establishment.hours[:sat][:open], class: 'form-control' %>
        <small class="p-2 text-muted">until</small>
        <%= sat.text_field :close, value: establishment.hours[:sat][:close], class: 'form-control' %>
        <% end %>
    </div>
    <div class="form-group form-inline">
        <%= form.label :hours_sun, class: "col-2 col-form-label" %> 
        <%= h.fields_for :sun do |sun| %>
        <%= sun.text_field :open, value: establishment.hours[:sun][:open], class: 'form-control' %>
        <small class="p-2 text-muted">until</small>
        <%= sun.text_field :close, value: establishment.hours[:sun][:close], class: 'form-control' %>
        <% end %>
    </div>
<% end %>
<div class="py-3 text-center">
    <%= form.submit class: "btn btn-success" %>
</div>

<% end %>