<nav>
  <ul class="pager">
    <% if page > 0 %>
        <li class="previous">
          <%= link_to "&larr; Previous".html_safe,
                      establishments_path(keywords: keywords, page: page - 1),
                      title: "Previous Page" %>
        </li>
    <% end %>
    <% if count > 4 %>
        <li class="next">
          <%= link_to "Next &rarr;".html_safe,
                      establishments_path(keywords: keywords, page: page + 1),
                      title: "Next Page" %>
        </li>
    <% end %>
  </ul>
</nav>