  <!DOCTYPE html>
<html lang="en">
<head>
  <title>Barhound</title>
  <%= csrf_meta_tags %>

  <%= javascript_include_tag 'application' %>
  <%= javascript_pack_tag "application" %>
  <%= stylesheet_pack_tag "application" %>

  <% if @base_url %>
      <base href="<%= @base_url %>">
  <% end %>
</head>

<body>

<% if notice.present? %>
    <aside class="alert alert-info">
      <%= notice %>
    </aside>
<% end %>

<% if alert.present? %>
    <aside class="alert alert-danger">
      <%= alert %>
    </aside>
<% end %>

<div id="barhound-app">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href=<% root_url %>>Barhound</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Main Content -->
  <div class="container-fluid">
    <%= yield %>
  </div>

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container-fluid">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
    </div>
  </footer>

</div>

</body>
</html>
